stages:
  - build

variables:
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_BUILDKIT: "1"

default:
  image: docker:27
  services:
    - docker:27-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"

build_api:
  stage: build
  rules:
    - changes:
        - apps/api/**/*
        - package.json
        - pnpm-workspace.yaml
        - pnpm-lock.yaml
  script:
    - export IMAGE_BASE="$CI_REGISTRY_IMAGE/api"
    - docker build -f apps/api/Dockerfile -t "$IMAGE_BASE:$CI_COMMIT_SHA" .
    - docker push "$IMAGE_BASE:$CI_COMMIT_SHA"
    - |
      if [ "$CI_COMMIT_BRANCH" = "$CI_DEFAULT_BRANCH" ]; then
        docker tag "$IMAGE_BASE:$CI_COMMIT_SHA" "$IMAGE_BASE:latest"
        docker push "$IMAGE_BASE:latest"
      fi

build_web:
  stage: build
  rules:
    - changes:
        - apps/web/**/*
        - package.json
        - pnpm-workspace.yaml
        - pnpm-lock.yaml
  script:
    - export IMAGE_BASE="$CI_REGISTRY_IMAGE/web"
    - docker build -f apps/web/Dockerfile --build-arg NEXT_PUBLIC_API_URL="$NEXT_PUBLIC_API_URL" -t "$IMAGE_BASE:$CI_COMMIT_SHA" .
    - docker push "$IMAGE_BASE:$CI_COMMIT_SHA"
    - |
      if [ "$CI_COMMIT_BRANCH" = "$CI_DEFAULT_BRANCH" ]; then
        docker tag "$IMAGE_BASE:$CI_COMMIT_SHA" "$IMAGE_BASE:latest"
        docker push "$IMAGE_BASE:latest"
      fi
